<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                充值管理
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            ID: <input type="text" ng-model="filter.objectId" style="width: 50px;"/> &nbsp;
                            <button class="btn btn-success btn-xs" ng-click="query()">查询</button>

                            <button class="btn btn-info btn-xs pull-right" style="display: none;" ng-click="openModal('#btn-modal-add')">新增地址</button>
                        </p>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>充值用户</th>
                        <th>充值金额</th>
                        <th>充值状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="d in data">
                        <td>{{d.id}}</td>
                        <td>{{d.user.get('name')}}</td>
                        <td>{{d.get('money')}}</td>
                        <td>{{d.get('status')}}</td>
                        <td>{{d.createdAt | date: 'yyyy-mm-dd'}}</td>
                        <td><button class="btn btn-danger btn-xs" ng-click="del(d)">删除</button></td>
                    </tr>
                </table>
                <div class="text-center">
                    <ul class="pagination">
                        <li ng-if="page != 1 && totalPage != 1"><a ng-click="changePage(page-1)" href="javascript:;;;">«</a></li>
                        <li ng-repeat="t in totalPage"><a href="javascript:;;;" ng-click="changePage(t)">{{t}}</a></li>
                        <li ng-if="page != totalPage && totalPage != 1"><a ng-click="changePage(page+1)" href="javascript:;;;">»</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

